In [6]:
from rex import WindX
from albatross.requests import get_regions, request_wtk_point_data
import pandas as pd

In [7]:
DATASETS = ['coordinates', 'inversemoninobukhovlength_2m', 'meta', 'precipitationrate_0m', 'pressure_0m', 'pressure_100m', 'pressure_200m', 'relativehumidity_2m', 'temperature_100m', 'temperature_10m', 'temperature_120m', 'temperature_140m', 'temperature_160m', 'temperature_200m', 'temperature_2m', 'temperature_40m', 'temperature_60m', 'temperature_80m', 'time_index', 'winddirection_100m', 'winddirection_10m', 'winddirection_120m', 'winddirection_140m', 'winddirection_160m', 'winddirection_200m', 'winddirection_40m', 'winddirection_60m', 'winddirection_80m', 'windspeed_100m', 'windspeed_10m', 'windspeed_120m', 'windspeed_140m', 'windspeed_160m', 'windspeed_200m', 'windspeed_40m', 'windspeed_60m', 'windspeed_80m']

In [8]:
get_regions(True)

{
    "bangladesh": {
        "year_range": [
            2014,
            2017
        ],
        "resolutions": [
            "hourly"
        ]
    },
    "canada": {
        "year_range": [
            2007,
            2014
        ],
        "resolutions": [
            "hourly",
            "5min"
        ]
    },
    "canada_bc": {
        "year_range": [
            2007,
            2014
        ],
        "resolutions": [
            "hourly"
        ]
    },
    "central_asia": {
        "year_range": [
            2015,
            2015
        ],
        "resolutions": [
            "hourly"
        ]
    },
    "conus": {
        "year_range": [
            2007,
            2014
        ],
        "resolutions": [
            "hourly",
            "5min"
        ]
    },
    "hawaii": {
        "year_range": [
            2000,
            2019
        ],
        "resolutions": [
            "hourly",
            "5min"
        ],
        "base": "Hawaii"
    },
    "india": {
        "year_range": [
            2014,
            2014
        ],
        "resolutions": [
            "hourly"
        ]
    },
    "mexico": {
        "year_range": [
            2007,
            2014
        ],
        "resolutions": [
            "hourly",
            "5min"
        ]
    },
    "mid_atlantic": {
        "year_range": [
            2000,
            2020
        ],
        "resolutions": [
            "hourly",
            "5min"
        ],
        "base": "Mid_Atlantic"
    },
    "nw_pacific": {
        "year_range": [
            2000,
            2019
        ],
        "resolutions": [
            "hourly",
            "5min"
        ],
        "base": "NW_pacific"
    },
    "offshore_ca": {
        "year_range": [
            2000,
            2019
        ],
        "resolutions": [
            "hourly",
            "5min"
        ],
        "base": "Offshore_CA"
    },
    "philippines": {
        "year_range": [
            2017,
            2017
        ],
        "resolutions": [
            "hourly"
        ]
    },
    "vietnam": {
        "year_range": [
            2016,
            2018
        ],
        "resolutions": [
            "hourly"
        ]
    }
}

{'bangladesh': {'year_range': [2014, 2017], 'resolutions': ['hourly']},
 'canada': {'year_range': [2007, 2014], 'resolutions': ['hourly', '5min']},
 'canada_bc': {'year_range': [2007, 2014], 'resolutions': ['hourly']},
 'central_asia': {'year_range': [2015, 2015], 'resolutions': ['hourly']},
 'conus': {'year_range': [2007, 2014], 'resolutions': ['hourly', '5min']},
 'hawaii': {'year_range': [2000, 2019],
  'resolutions': ['hourly', '5min'],
  'base': 'Hawaii'},
 'india': {'year_range': [2014, 2014], 'resolutions': ['hourly']},
 'mexico': {'year_range': [2007, 2014], 'resolutions': ['hourly', '5min']},
 'mid_atlantic': {'year_range': [2000, 2020],
  'resolutions': ['hourly', '5min'],
  'base': 'Mid_Atlantic'},
 'nw_pacific': {'year_range': [2000, 2019],
  'resolutions': ['hourly', '5min'],
  'base': 'NW_pacific'},
 'offshore_ca': {'year_range': [2000, 2019],
  'resolutions': ['hourly', '5min'],
  'base': 'Offshore_CA'},
 'philippines': {'year_range': [2017, 2017], 'resolutions': ['hourly']},
 'vietnam': {'year_range': [2016, 2018], 'resolutions': ['hourly']}}

In [9]:
region = 'conus'
year = 2010
lat_lon = (39.913561, -105.222422)
params = ['windspeed_100m', 'winddirection_100m', 'pressure_100m']
(data, meta) = request_wtk_point_data(region, year, lat_lon, params)

In [10]:
data

                           windspeed_100m  winddirection_100m  pressure_100m
time_index
2010-01-01 00:00:00+00:00            8.03          238.660004        81060.0
2010-01-01 01:00:00+00:00           11.04          279.170013        81040.0
2010-01-01 02:00:00+00:00            4.78          280.809998        81040.0
2010-01-01 03:00:00+00:00            9.18          268.059998        81040.0
2010-01-01 04:00:00+00:00            4.75          235.970001        81020.0
...                                   ...                 ...            ...
2010-12-31 19:00:00+00:00            3.11          132.130005        79390.0
2010-12-31 20:00:00+00:00            3.42          143.320007        79420.0
2010-12-31 21:00:00+00:00            3.52          176.320007        79450.0
2010-12-31 22:00:00+00:00            3.25          168.869995        79470.0
2010-12-31 23:00:00+00:00            3.75          171.449997        79510.0

[8760 rows x 3 columns]